/* Global Styles */
* {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: large;
    padding: 20px;
    color: #333;
}

/* Category Styles */
#data-container {
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.category-item:last-child {
    border-bottom: none;
}

.category-item h2 {
    font-size: 1.5em;
    color: #555;
}

.category-item p {
    font-size: 1em;
    color: #777;
}
